.shadow-dom {
  // Chrome/Webkit won't work properly if the common stuff is shared
  // by comma (:-webkit-any-link, :-moz-any-link {}) so we need to actually
  // mix the stuff in separately.
  .any-link-mixin() {
    all: initial;
    cursor: pointer;

    &:not(svg|a) {
      text-decoration: underline;
    }
  }

  *|* {

    /* Fallback defaults */
    &:link {
      color: #00E;
      color: -moz-hyperlinktext;
    }

    &:visited {
      color: #551a8b;
      color: -moz-visitedhyperlinktext;
    }

    &:active {
      color: #E00;
      color: -moz-activehyperlinktext;
    }

    /* Chrome/Safari/Webkit */
    &:-webkit-any-link {
      .any-link-mixin();
      // -webkit-link is a magical value that will change for :link/:visited
      color: -webkit-link;

      &:active {
        color: -webkit-activelink;
      }
    }

    /* Firefox */
    &:-moz-any-link {
      .any-link-mixin();
    }

    /* Opera */
    _:-o-prefocus, &:link {
      .any-link-mixin();
      border: 0 #00c;
      color: #00c;
    }

    _:-o-prefocus, &:visited {
      .any-link-mixin();
      border: 0 #800080;
      color: #800080;
    }
  }
}